body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --speed: 500ms;
  --border-radius: 8px;
  --hover-color: #525357;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.navbar{
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.title{
  margin-right:auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  color:var(--text-color);
}

.title svg{
  fill: var(--text-color);
  width: 50px;
  height: 50px;
}

.navbar-nav>*:first-child {
  justify-content: flex-start;
}

.nav-item{
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button{
  --button-size: calc(var(--nav-size)*0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: var(--bg-accent);
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.icon-button svg{
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}



span svg{
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

.icon-right{
  margin-left: 140px;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-left{
  margin-right: 20px;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

/* Dropdown Menu */

.dropdown{
  position:absolute;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  transition: height 300ms ease;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.menu-item:hover{
  background-color: var(--hover-color);
}

.menu-primary-enter{
  position: absolute;
  transform: translateX(-110%);
}

.menu-primary-enter-active{
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-primary-exit{
  position: absolute;
}

.menu-primary-exit-active{
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter{
  transform: translateX(110%);
}

.menu-secondary-enter-active{
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-secondary-exit{
  
}

.menu-secondary-exit-active{
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

/* Footer Component */

.footer{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: var(--text-color);
  background-color: var(--bg);
  padding-bottom: 50px;
}

.footer .nav-item{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 20px;
}

.footer .nav-item a {
  margin-right: 40px;
}

.footer-info{
  line-height: 35px;
}

.footer-title{
  font-weight: bold;
}

/* Temporary */

.content-placeholder{
  background-color: var(--bg-accent);
  height: 300px;
  width: 100%;
}